TMessagesProj/.externalNativeBuild/
TMessagesProj/src/main/java/com/exteragram/messenger/boost/
.gradle/
.idea/
build/
.cxx/
obj/

output-metadata.json
local.properties
API_KEYS

*.hprof
*.iml
*.apk
*.so

# Signing and security
*.keystore
*.jks
keystore.properties
*.base64
secrets.properties
google-services.json
